<!--
<script src="../js/lib/wow.min.js"></script>
<script>
    (function(){

        var wow = new WOW(
            {
                boxClass:     'wow',      // default
                animateClass: 'animated', // default
                offset:       0,          // default
                mobile:       true,       // default
                live:         true        // default
            }
        );

        wow.init();

    })();
</script>
-->
<script src="../js/lib/jquery-3.2.1.min.js"></script>
<script src="../js/lib/slick.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>