// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$menu-characters-hover-name: 'menu-characters-hover';
$menu-characters-hover-x: 0px;
$menu-characters-hover-y: 468px;
$menu-characters-hover-offset-x: 0px;
$menu-characters-hover-offset-y: -468px;
$menu-characters-hover-width: 214px;
$menu-characters-hover-height: 217px;
$menu-characters-hover-total-width: 953px;
$menu-characters-hover-total-height: 756px;
$menu-characters-hover-image: '../img/sprite@1x.png';
$menu-characters-hover: (0px, 468px, 0px, -468px, 214px, 217px, 953px, 756px, '../img/sprite@1x.png', 'menu-characters-hover', );
$menu-characters-name: 'menu-characters';
$menu-characters-x: 739px;
$menu-characters-y: 0px;
$menu-characters-offset-x: -739px;
$menu-characters-offset-y: 0px;
$menu-characters-width: 214px;
$menu-characters-height: 217px;
$menu-characters-total-width: 953px;
$menu-characters-total-height: 756px;
$menu-characters-image: '../img/sprite@1x.png';
$menu-characters: (739px, 0px, -739px, 0px, 214px, 217px, 953px, 756px, '../img/sprite@1x.png', 'menu-characters', );
$menu-creatures-hover-name: 'menu-creatures-hover';
$menu-creatures-hover-x: 249px;
$menu-creatures-hover-y: 234px;
$menu-creatures-hover-offset-x: -249px;
$menu-creatures-hover-offset-y: -234px;
$menu-creatures-hover-width: 234px;
$menu-creatures-hover-height: 219px;
$menu-creatures-hover-total-width: 953px;
$menu-creatures-hover-total-height: 756px;
$menu-creatures-hover-image: '../img/sprite@1x.png';
$menu-creatures-hover: (249px, 234px, -249px, -234px, 234px, 219px, 953px, 756px, '../img/sprite@1x.png', 'menu-creatures-hover', );
$menu-creatures-name: 'menu-creatures';
$menu-creatures-x: 0px;
$menu-creatures-y: 234px;
$menu-creatures-offset-x: 0px;
$menu-creatures-offset-y: -234px;
$menu-creatures-width: 234px;
$menu-creatures-height: 219px;
$menu-creatures-total-width: 953px;
$menu-creatures-total-height: 756px;
$menu-creatures-image: '../img/sprite@1x.png';
$menu-creatures: (0px, 234px, 0px, -234px, 234px, 219px, 953px, 756px, '../img/sprite@1x.png', 'menu-creatures', );
$menu-location-hover-name: 'menu-location-hover';
$menu-location-hover-x: 0px;
$menu-location-hover-y: 0px;
$menu-location-hover-offset-x: 0px;
$menu-location-hover-offset-y: 0px;
$menu-location-hover-width: 240px;
$menu-location-hover-height: 219px;
$menu-location-hover-total-width: 953px;
$menu-location-hover-total-height: 756px;
$menu-location-hover-image: '../img/sprite@1x.png';
$menu-location-hover: (0px, 0px, 0px, 0px, 240px, 219px, 953px, 756px, '../img/sprite@1x.png', 'menu-location-hover', );
$menu-location-name: 'menu-location';
$menu-location-x: 255px;
$menu-location-y: 0px;
$menu-location-offset-x: -255px;
$menu-location-offset-y: 0px;
$menu-location-width: 240px;
$menu-location-height: 219px;
$menu-location-total-width: 953px;
$menu-location-total-height: 756px;
$menu-location-image: '../img/sprite@1x.png';
$menu-location: (255px, 0px, -255px, 0px, 240px, 219px, 953px, 756px, '../img/sprite@1x.png', 'menu-location', );
$menu-stories-hover-name: 'menu-stories-hover';
$menu-stories-hover-x: 510px;
$menu-stories-hover-y: 232px;
$menu-stories-hover-offset-x: -510px;
$menu-stories-hover-offset-y: -232px;
$menu-stories-hover-width: 214px;
$menu-stories-hover-height: 217px;
$menu-stories-hover-total-width: 953px;
$menu-stories-hover-total-height: 756px;
$menu-stories-hover-image: '../img/sprite@1x.png';
$menu-stories-hover: (510px, 232px, -510px, -232px, 214px, 217px, 953px, 756px, '../img/sprite@1x.png', 'menu-stories-hover', );
$menu-stories-name: 'menu-stories';
$menu-stories-x: 510px;
$menu-stories-y: 0px;
$menu-stories-offset-x: -510px;
$menu-stories-offset-y: 0px;
$menu-stories-width: 214px;
$menu-stories-height: 217px;
$menu-stories-total-width: 953px;
$menu-stories-total-height: 756px;
$menu-stories-image: '../img/sprite@1x.png';
$menu-stories: (510px, 0px, -510px, 0px, 214px, 217px, 953px, 756px, '../img/sprite@1x.png', 'menu-stories', );
$menu-wip-hover-name: 'menu-wip-hover';
$menu-wip-hover-x: 229px;
$menu-wip-hover-y: 468px;
$menu-wip-hover-offset-x: -229px;
$menu-wip-hover-offset-y: -468px;
$menu-wip-hover-width: 214px;
$menu-wip-hover-height: 217px;
$menu-wip-hover-total-width: 953px;
$menu-wip-hover-total-height: 756px;
$menu-wip-hover-image: '../img/sprite@1x.png';
$menu-wip-hover: (229px, 468px, -229px, -468px, 214px, 217px, 953px, 756px, '../img/sprite@1x.png', 'menu-wip-hover', );
$menu-wip-name: 'menu-wip';
$menu-wip-x: 458px;
$menu-wip-y: 468px;
$menu-wip-offset-x: -458px;
$menu-wip-offset-y: -468px;
$menu-wip-width: 214px;
$menu-wip-height: 217px;
$menu-wip-total-width: 953px;
$menu-wip-total-height: 756px;
$menu-wip-image: '../img/sprite@1x.png';
$menu-wip: (458px, 468px, -458px, -468px, 214px, 217px, 953px, 756px, '../img/sprite@1x.png', 'menu-wip', );
$name-characters-hover-name: 'name-characters-hover';
$name-characters-hover-x: 739px;
$name-characters-hover-y: 232px;
$name-characters-hover-offset-x: -739px;
$name-characters-hover-offset-y: -232px;
$name-characters-hover-width: 173px;
$name-characters-hover-height: 57px;
$name-characters-hover-total-width: 953px;
$name-characters-hover-total-height: 756px;
$name-characters-hover-image: '../img/sprite@1x.png';
$name-characters-hover: (739px, 232px, -739px, -232px, 173px, 57px, 953px, 756px, '../img/sprite@1x.png', 'name-characters-hover', );
$name-characters-name: 'name-characters';
$name-characters-x: 739px;
$name-characters-y: 304px;
$name-characters-offset-x: -739px;
$name-characters-offset-y: -304px;
$name-characters-width: 173px;
$name-characters-height: 57px;
$name-characters-total-width: 953px;
$name-characters-total-height: 756px;
$name-characters-image: '../img/sprite@1x.png';
$name-characters: (739px, 304px, -739px, -304px, 173px, 57px, 953px, 756px, '../img/sprite@1x.png', 'name-characters', );
$name-creatures-hover-name: 'name-creatures-hover';
$name-creatures-hover-x: 739px;
$name-creatures-hover-y: 376px;
$name-creatures-hover-offset-x: -739px;
$name-creatures-hover-offset-y: -376px;
$name-creatures-hover-width: 156px;
$name-creatures-hover-height: 56px;
$name-creatures-hover-total-width: 953px;
$name-creatures-hover-total-height: 756px;
$name-creatures-hover-image: '../img/sprite@1x.png';
$name-creatures-hover: (739px, 376px, -739px, -376px, 156px, 56px, 953px, 756px, '../img/sprite@1x.png', 'name-creatures-hover', );
$name-creatures-name: 'name-creatures';
$name-creatures-x: 739px;
$name-creatures-y: 447px;
$name-creatures-offset-x: -739px;
$name-creatures-offset-y: -447px;
$name-creatures-width: 156px;
$name-creatures-height: 56px;
$name-creatures-total-width: 953px;
$name-creatures-total-height: 756px;
$name-creatures-image: '../img/sprite@1x.png';
$name-creatures: (739px, 447px, -739px, -447px, 156px, 56px, 953px, 756px, '../img/sprite@1x.png', 'name-creatures', );
$name-location-hover-name: 'name-location-hover';
$name-location-hover-x: 739px;
$name-location-hover-y: 518px;
$name-location-hover-offset-x: -739px;
$name-location-hover-offset-y: -518px;
$name-location-hover-width: 150px;
$name-location-hover-height: 56px;
$name-location-hover-total-width: 953px;
$name-location-hover-total-height: 756px;
$name-location-hover-image: '../img/sprite@1x.png';
$name-location-hover: (739px, 518px, -739px, -518px, 150px, 56px, 953px, 756px, '../img/sprite@1x.png', 'name-location-hover', );
$name-location-name: 'name-location';
$name-location-x: 739px;
$name-location-y: 589px;
$name-location-offset-x: -739px;
$name-location-offset-y: -589px;
$name-location-width: 150px;
$name-location-height: 56px;
$name-location-total-width: 953px;
$name-location-total-height: 756px;
$name-location-image: '../img/sprite@1x.png';
$name-location: (739px, 589px, -739px, -589px, 150px, 56px, 953px, 756px, '../img/sprite@1x.png', 'name-location', );
$name-stories-hover-name: 'name-stories-hover';
$name-stories-hover-x: 0px;
$name-stories-hover-y: 700px;
$name-stories-hover-offset-x: 0px;
$name-stories-hover-offset-y: -700px;
$name-stories-hover-width: 120px;
$name-stories-hover-height: 56px;
$name-stories-hover-total-width: 953px;
$name-stories-hover-total-height: 756px;
$name-stories-hover-image: '../img/sprite@1x.png';
$name-stories-hover: (0px, 700px, 0px, -700px, 120px, 56px, 953px, 756px, '../img/sprite@1x.png', 'name-stories-hover', );
$name-stories-name: 'name-stories';
$name-stories-x: 135px;
$name-stories-y: 700px;
$name-stories-offset-x: -135px;
$name-stories-offset-y: -700px;
$name-stories-width: 120px;
$name-stories-height: 56px;
$name-stories-total-width: 953px;
$name-stories-total-height: 756px;
$name-stories-image: '../img/sprite@1x.png';
$name-stories: (135px, 700px, -135px, -700px, 120px, 56px, 953px, 756px, '../img/sprite@1x.png', 'name-stories', );
$name-wip-hover-name: 'name-wip-hover';
$name-wip-hover-x: 270px;
$name-wip-hover-y: 700px;
$name-wip-hover-offset-x: -270px;
$name-wip-hover-offset-y: -700px;
$name-wip-hover-width: 77px;
$name-wip-hover-height: 56px;
$name-wip-hover-total-width: 953px;
$name-wip-hover-total-height: 756px;
$name-wip-hover-image: '../img/sprite@1x.png';
$name-wip-hover: (270px, 700px, -270px, -700px, 77px, 56px, 953px, 756px, '../img/sprite@1x.png', 'name-wip-hover', );
$name-wip-name: 'name-wip';
$name-wip-x: 362px;
$name-wip-y: 700px;
$name-wip-offset-x: -362px;
$name-wip-offset-y: -700px;
$name-wip-width: 77px;
$name-wip-height: 56px;
$name-wip-total-width: 953px;
$name-wip-total-height: 756px;
$name-wip-image: '../img/sprite@1x.png';
$name-wip: (362px, 700px, -362px, -700px, 77px, 56px, 953px, 756px, '../img/sprite@1x.png', 'name-wip', );
$no-sound-name: 'no-sound';
$no-sound-x: 904px;
$no-sound-y: 518px;
$no-sound-offset-x: -904px;
$no-sound-offset-y: -518px;
$no-sound-width: 36px;
$no-sound-height: 39px;
$no-sound-total-width: 953px;
$no-sound-total-height: 756px;
$no-sound-image: '../img/sprite@1x.png';
$no-sound: (904px, 518px, -904px, -518px, 36px, 39px, 953px, 756px, '../img/sprite@1x.png', 'no-sound', );
$pause-name: 'pause';
$pause-x: 910px;
$pause-y: 376px;
$pause-offset-x: -910px;
$pause-offset-y: -376px;
$pause-width: 38px;
$pause-height: 39px;
$pause-total-width: 953px;
$pause-total-height: 756px;
$pause-image: '../img/sprite@1x.png';
$pause: (910px, 376px, -910px, -376px, 38px, 39px, 953px, 756px, '../img/sprite@1x.png', 'pause', );
$play-name: 'play';
$play-x: 910px;
$play-y: 447px;
$play-offset-x: -910px;
$play-offset-y: -447px;
$play-width: 38px;
$play-height: 39px;
$play-total-width: 953px;
$play-total-height: 756px;
$play-image: '../img/sprite@1x.png';
$play: (910px, 447px, -910px, -447px, 38px, 39px, 953px, 756px, '../img/sprite@1x.png', 'play', );
$prof1-name: 'prof1';
$prof1-x: 454px;
$prof1-y: 700px;
$prof1-offset-x: -454px;
$prof1-offset-y: -700px;
$prof1-width: 38px;
$prof1-height: 33px;
$prof1-total-width: 953px;
$prof1-total-height: 756px;
$prof1-image: '../img/sprite@1x.png';
$prof1: (454px, 700px, -454px, -700px, 38px, 33px, 953px, 756px, '../img/sprite@1x.png', 'prof1', );
$sound-name: 'sound';
$sound-x: 904px;
$sound-y: 589px;
$sound-offset-x: -904px;
$sound-offset-y: -589px;
$sound-width: 36px;
$sound-height: 39px;
$sound-total-width: 953px;
$sound-total-height: 756px;
$sound-image: '../img/sprite@1x.png';
$sound: (904px, 589px, -904px, -589px, 36px, 39px, 953px, 756px, '../img/sprite@1x.png', 'sound', );
$menu-characters-hover-2x-name: 'menu-characters-hover@2x';
$menu-characters-hover-2x-x: 0px;
$menu-characters-hover-2x-y: 936px;
$menu-characters-hover-2x-offset-x: 0px;
$menu-characters-hover-2x-offset-y: -936px;
$menu-characters-hover-2x-width: 428px;
$menu-characters-hover-2x-height: 434px;
$menu-characters-hover-2x-total-width: 1906px;
$menu-characters-hover-2x-total-height: 1512px;
$menu-characters-hover-2x-image: '../img/sprite@2x.png';
$menu-characters-hover-2x: (0px, 936px, 0px, -936px, 428px, 434px, 1906px, 1512px, '../img/sprite@2x.png', 'menu-characters-hover@2x', );
$menu-characters-2x-name: 'menu-characters@2x';
$menu-characters-2x-x: 1478px;
$menu-characters-2x-y: 0px;
$menu-characters-2x-offset-x: -1478px;
$menu-characters-2x-offset-y: 0px;
$menu-characters-2x-width: 428px;
$menu-characters-2x-height: 434px;
$menu-characters-2x-total-width: 1906px;
$menu-characters-2x-total-height: 1512px;
$menu-characters-2x-image: '../img/sprite@2x.png';
$menu-characters-2x: (1478px, 0px, -1478px, 0px, 428px, 434px, 1906px, 1512px, '../img/sprite@2x.png', 'menu-characters@2x', );
$menu-creatures-hover-2x-name: 'menu-creatures-hover@2x';
$menu-creatures-hover-2x-x: 498px;
$menu-creatures-hover-2x-y: 468px;
$menu-creatures-hover-2x-offset-x: -498px;
$menu-creatures-hover-2x-offset-y: -468px;
$menu-creatures-hover-2x-width: 468px;
$menu-creatures-hover-2x-height: 438px;
$menu-creatures-hover-2x-total-width: 1906px;
$menu-creatures-hover-2x-total-height: 1512px;
$menu-creatures-hover-2x-image: '../img/sprite@2x.png';
$menu-creatures-hover-2x: (498px, 468px, -498px, -468px, 468px, 438px, 1906px, 1512px, '../img/sprite@2x.png', 'menu-creatures-hover@2x', );
$menu-creatures-2x-name: 'menu-creatures@2x';
$menu-creatures-2x-x: 0px;
$menu-creatures-2x-y: 468px;
$menu-creatures-2x-offset-x: 0px;
$menu-creatures-2x-offset-y: -468px;
$menu-creatures-2x-width: 468px;
$menu-creatures-2x-height: 438px;
$menu-creatures-2x-total-width: 1906px;
$menu-creatures-2x-total-height: 1512px;
$menu-creatures-2x-image: '../img/sprite@2x.png';
$menu-creatures-2x: (0px, 468px, 0px, -468px, 468px, 438px, 1906px, 1512px, '../img/sprite@2x.png', 'menu-creatures@2x', );
$menu-location-hover-2x-name: 'menu-location-hover@2x';
$menu-location-hover-2x-x: 0px;
$menu-location-hover-2x-y: 0px;
$menu-location-hover-2x-offset-x: 0px;
$menu-location-hover-2x-offset-y: 0px;
$menu-location-hover-2x-width: 480px;
$menu-location-hover-2x-height: 438px;
$menu-location-hover-2x-total-width: 1906px;
$menu-location-hover-2x-total-height: 1512px;
$menu-location-hover-2x-image: '../img/sprite@2x.png';
$menu-location-hover-2x: (0px, 0px, 0px, 0px, 480px, 438px, 1906px, 1512px, '../img/sprite@2x.png', 'menu-location-hover@2x', );
$menu-location-2x-name: 'menu-location@2x';
$menu-location-2x-x: 510px;
$menu-location-2x-y: 0px;
$menu-location-2x-offset-x: -510px;
$menu-location-2x-offset-y: 0px;
$menu-location-2x-width: 480px;
$menu-location-2x-height: 438px;
$menu-location-2x-total-width: 1906px;
$menu-location-2x-total-height: 1512px;
$menu-location-2x-image: '../img/sprite@2x.png';
$menu-location-2x: (510px, 0px, -510px, 0px, 480px, 438px, 1906px, 1512px, '../img/sprite@2x.png', 'menu-location@2x', );
$menu-stories-hover-2x-name: 'menu-stories-hover@2x';
$menu-stories-hover-2x-x: 1020px;
$menu-stories-hover-2x-y: 464px;
$menu-stories-hover-2x-offset-x: -1020px;
$menu-stories-hover-2x-offset-y: -464px;
$menu-stories-hover-2x-width: 428px;
$menu-stories-hover-2x-height: 434px;
$menu-stories-hover-2x-total-width: 1906px;
$menu-stories-hover-2x-total-height: 1512px;
$menu-stories-hover-2x-image: '../img/sprite@2x.png';
$menu-stories-hover-2x: (1020px, 464px, -1020px, -464px, 428px, 434px, 1906px, 1512px, '../img/sprite@2x.png', 'menu-stories-hover@2x', );
$menu-stories-2x-name: 'menu-stories@2x';
$menu-stories-2x-x: 1020px;
$menu-stories-2x-y: 0px;
$menu-stories-2x-offset-x: -1020px;
$menu-stories-2x-offset-y: 0px;
$menu-stories-2x-width: 428px;
$menu-stories-2x-height: 434px;
$menu-stories-2x-total-width: 1906px;
$menu-stories-2x-total-height: 1512px;
$menu-stories-2x-image: '../img/sprite@2x.png';
$menu-stories-2x: (1020px, 0px, -1020px, 0px, 428px, 434px, 1906px, 1512px, '../img/sprite@2x.png', 'menu-stories@2x', );
$menu-wip-hover-2x-name: 'menu-wip-hover@2x';
$menu-wip-hover-2x-x: 458px;
$menu-wip-hover-2x-y: 936px;
$menu-wip-hover-2x-offset-x: -458px;
$menu-wip-hover-2x-offset-y: -936px;
$menu-wip-hover-2x-width: 428px;
$menu-wip-hover-2x-height: 434px;
$menu-wip-hover-2x-total-width: 1906px;
$menu-wip-hover-2x-total-height: 1512px;
$menu-wip-hover-2x-image: '../img/sprite@2x.png';
$menu-wip-hover-2x: (458px, 936px, -458px, -936px, 428px, 434px, 1906px, 1512px, '../img/sprite@2x.png', 'menu-wip-hover@2x', );
$menu-wip-2x-name: 'menu-wip@2x';
$menu-wip-2x-x: 916px;
$menu-wip-2x-y: 936px;
$menu-wip-2x-offset-x: -916px;
$menu-wip-2x-offset-y: -936px;
$menu-wip-2x-width: 428px;
$menu-wip-2x-height: 434px;
$menu-wip-2x-total-width: 1906px;
$menu-wip-2x-total-height: 1512px;
$menu-wip-2x-image: '../img/sprite@2x.png';
$menu-wip-2x: (916px, 936px, -916px, -936px, 428px, 434px, 1906px, 1512px, '../img/sprite@2x.png', 'menu-wip@2x', );
$name-characters-hover-2x-name: 'name-characters-hover@2x';
$name-characters-hover-2x-x: 1478px;
$name-characters-hover-2x-y: 464px;
$name-characters-hover-2x-offset-x: -1478px;
$name-characters-hover-2x-offset-y: -464px;
$name-characters-hover-2x-width: 346px;
$name-characters-hover-2x-height: 114px;
$name-characters-hover-2x-total-width: 1906px;
$name-characters-hover-2x-total-height: 1512px;
$name-characters-hover-2x-image: '../img/sprite@2x.png';
$name-characters-hover-2x: (1478px, 464px, -1478px, -464px, 346px, 114px, 1906px, 1512px, '../img/sprite@2x.png', 'name-characters-hover@2x', );
$name-characters-2x-name: 'name-characters@2x';
$name-characters-2x-x: 1478px;
$name-characters-2x-y: 608px;
$name-characters-2x-offset-x: -1478px;
$name-characters-2x-offset-y: -608px;
$name-characters-2x-width: 346px;
$name-characters-2x-height: 114px;
$name-characters-2x-total-width: 1906px;
$name-characters-2x-total-height: 1512px;
$name-characters-2x-image: '../img/sprite@2x.png';
$name-characters-2x: (1478px, 608px, -1478px, -608px, 346px, 114px, 1906px, 1512px, '../img/sprite@2x.png', 'name-characters@2x', );
$name-creatures-hover-2x-name: 'name-creatures-hover@2x';
$name-creatures-hover-2x-x: 1478px;
$name-creatures-hover-2x-y: 752px;
$name-creatures-hover-2x-offset-x: -1478px;
$name-creatures-hover-2x-offset-y: -752px;
$name-creatures-hover-2x-width: 312px;
$name-creatures-hover-2x-height: 112px;
$name-creatures-hover-2x-total-width: 1906px;
$name-creatures-hover-2x-total-height: 1512px;
$name-creatures-hover-2x-image: '../img/sprite@2x.png';
$name-creatures-hover-2x: (1478px, 752px, -1478px, -752px, 312px, 112px, 1906px, 1512px, '../img/sprite@2x.png', 'name-creatures-hover@2x', );
$name-creatures-2x-name: 'name-creatures@2x';
$name-creatures-2x-x: 1478px;
$name-creatures-2x-y: 894px;
$name-creatures-2x-offset-x: -1478px;
$name-creatures-2x-offset-y: -894px;
$name-creatures-2x-width: 312px;
$name-creatures-2x-height: 112px;
$name-creatures-2x-total-width: 1906px;
$name-creatures-2x-total-height: 1512px;
$name-creatures-2x-image: '../img/sprite@2x.png';
$name-creatures-2x: (1478px, 894px, -1478px, -894px, 312px, 112px, 1906px, 1512px, '../img/sprite@2x.png', 'name-creatures@2x', );
$name-location-hover-2x-name: 'name-location-hover@2x';
$name-location-hover-2x-x: 1478px;
$name-location-hover-2x-y: 1036px;
$name-location-hover-2x-offset-x: -1478px;
$name-location-hover-2x-offset-y: -1036px;
$name-location-hover-2x-width: 300px;
$name-location-hover-2x-height: 112px;
$name-location-hover-2x-total-width: 1906px;
$name-location-hover-2x-total-height: 1512px;
$name-location-hover-2x-image: '../img/sprite@2x.png';
$name-location-hover-2x: (1478px, 1036px, -1478px, -1036px, 300px, 112px, 1906px, 1512px, '../img/sprite@2x.png', 'name-location-hover@2x', );
$name-location-2x-name: 'name-location@2x';
$name-location-2x-x: 1478px;
$name-location-2x-y: 1178px;
$name-location-2x-offset-x: -1478px;
$name-location-2x-offset-y: -1178px;
$name-location-2x-width: 300px;
$name-location-2x-height: 112px;
$name-location-2x-total-width: 1906px;
$name-location-2x-total-height: 1512px;
$name-location-2x-image: '../img/sprite@2x.png';
$name-location-2x: (1478px, 1178px, -1478px, -1178px, 300px, 112px, 1906px, 1512px, '../img/sprite@2x.png', 'name-location@2x', );
$name-stories-hover-2x-name: 'name-stories-hover@2x';
$name-stories-hover-2x-x: 0px;
$name-stories-hover-2x-y: 1400px;
$name-stories-hover-2x-offset-x: 0px;
$name-stories-hover-2x-offset-y: -1400px;
$name-stories-hover-2x-width: 240px;
$name-stories-hover-2x-height: 112px;
$name-stories-hover-2x-total-width: 1906px;
$name-stories-hover-2x-total-height: 1512px;
$name-stories-hover-2x-image: '../img/sprite@2x.png';
$name-stories-hover-2x: (0px, 1400px, 0px, -1400px, 240px, 112px, 1906px, 1512px, '../img/sprite@2x.png', 'name-stories-hover@2x', );
$name-stories-2x-name: 'name-stories@2x';
$name-stories-2x-x: 270px;
$name-stories-2x-y: 1400px;
$name-stories-2x-offset-x: -270px;
$name-stories-2x-offset-y: -1400px;
$name-stories-2x-width: 240px;
$name-stories-2x-height: 112px;
$name-stories-2x-total-width: 1906px;
$name-stories-2x-total-height: 1512px;
$name-stories-2x-image: '../img/sprite@2x.png';
$name-stories-2x: (270px, 1400px, -270px, -1400px, 240px, 112px, 1906px, 1512px, '../img/sprite@2x.png', 'name-stories@2x', );
$name-wip-hover-2x-name: 'name-wip-hover@2x';
$name-wip-hover-2x-x: 540px;
$name-wip-hover-2x-y: 1400px;
$name-wip-hover-2x-offset-x: -540px;
$name-wip-hover-2x-offset-y: -1400px;
$name-wip-hover-2x-width: 154px;
$name-wip-hover-2x-height: 112px;
$name-wip-hover-2x-total-width: 1906px;
$name-wip-hover-2x-total-height: 1512px;
$name-wip-hover-2x-image: '../img/sprite@2x.png';
$name-wip-hover-2x: (540px, 1400px, -540px, -1400px, 154px, 112px, 1906px, 1512px, '../img/sprite@2x.png', 'name-wip-hover@2x', );
$name-wip-2x-name: 'name-wip@2x';
$name-wip-2x-x: 724px;
$name-wip-2x-y: 1400px;
$name-wip-2x-offset-x: -724px;
$name-wip-2x-offset-y: -1400px;
$name-wip-2x-width: 154px;
$name-wip-2x-height: 112px;
$name-wip-2x-total-width: 1906px;
$name-wip-2x-total-height: 1512px;
$name-wip-2x-image: '../img/sprite@2x.png';
$name-wip-2x: (724px, 1400px, -724px, -1400px, 154px, 112px, 1906px, 1512px, '../img/sprite@2x.png', 'name-wip@2x', );
$no-sound-2x-name: 'no-sound@2x';
$no-sound-2x-x: 1808px;
$no-sound-2x-y: 1036px;
$no-sound-2x-offset-x: -1808px;
$no-sound-2x-offset-y: -1036px;
$no-sound-2x-width: 72px;
$no-sound-2x-height: 78px;
$no-sound-2x-total-width: 1906px;
$no-sound-2x-total-height: 1512px;
$no-sound-2x-image: '../img/sprite@2x.png';
$no-sound-2x: (1808px, 1036px, -1808px, -1036px, 72px, 78px, 1906px, 1512px, '../img/sprite@2x.png', 'no-sound@2x', );
$pause-2x-name: 'pause@2x';
$pause-2x-x: 1820px;
$pause-2x-y: 752px;
$pause-2x-offset-x: -1820px;
$pause-2x-offset-y: -752px;
$pause-2x-width: 76px;
$pause-2x-height: 78px;
$pause-2x-total-width: 1906px;
$pause-2x-total-height: 1512px;
$pause-2x-image: '../img/sprite@2x.png';
$pause-2x: (1820px, 752px, -1820px, -752px, 76px, 78px, 1906px, 1512px, '../img/sprite@2x.png', 'pause@2x', );
$play-2x-name: 'play@2x';
$play-2x-x: 1820px;
$play-2x-y: 894px;
$play-2x-offset-x: -1820px;
$play-2x-offset-y: -894px;
$play-2x-width: 76px;
$play-2x-height: 78px;
$play-2x-total-width: 1906px;
$play-2x-total-height: 1512px;
$play-2x-image: '../img/sprite@2x.png';
$play-2x: (1820px, 894px, -1820px, -894px, 76px, 78px, 1906px, 1512px, '../img/sprite@2x.png', 'play@2x', );
$prof1-2x-name: 'prof1@2x';
$prof1-2x-x: 908px;
$prof1-2x-y: 1400px;
$prof1-2x-offset-x: -908px;
$prof1-2x-offset-y: -1400px;
$prof1-2x-width: 76px;
$prof1-2x-height: 66px;
$prof1-2x-total-width: 1906px;
$prof1-2x-total-height: 1512px;
$prof1-2x-image: '../img/sprite@2x.png';
$prof1-2x: (908px, 1400px, -908px, -1400px, 76px, 66px, 1906px, 1512px, '../img/sprite@2x.png', 'prof1@2x', );
$sound-2x-name: 'sound@2x';
$sound-2x-x: 1808px;
$sound-2x-y: 1178px;
$sound-2x-offset-x: -1808px;
$sound-2x-offset-y: -1178px;
$sound-2x-width: 72px;
$sound-2x-height: 78px;
$sound-2x-total-width: 1906px;
$sound-2x-total-height: 1512px;
$sound-2x-image: '../img/sprite@2x.png';
$sound-2x: (1808px, 1178px, -1808px, -1178px, 72px, 78px, 1906px, 1512px, '../img/sprite@2x.png', 'sound@2x', );
$spritesheet-width: 953px;
$spritesheet-height: 756px;
$spritesheet-image: '../img/sprite@1x.png';
$spritesheet-sprites: ($menu-characters-hover, $menu-characters, $menu-creatures-hover, $menu-creatures, $menu-location-hover, $menu-location, $menu-stories-hover, $menu-stories, $menu-wip-hover, $menu-wip, $name-characters-hover, $name-characters, $name-creatures-hover, $name-creatures, $name-location-hover, $name-location, $name-stories-hover, $name-stories, $name-wip-hover, $name-wip, $no-sound, $pause, $play, $prof1, $sound, );
$spritesheet: (953px, 756px, '../img/sprite@1x.png', $spritesheet-sprites, );
$retina-spritesheet-width: 1906px;
$retina-spritesheet-height: 1512px;
$retina-spritesheet-image: '../img/sprite@2x.png';
$retina-spritesheet-sprites: ($menu-characters-hover-2x, $menu-characters-2x, $menu-creatures-hover-2x, $menu-creatures-2x, $menu-location-hover-2x, $menu-location-2x, $menu-stories-hover-2x, $menu-stories-2x, $menu-wip-hover-2x, $menu-wip-2x, $name-characters-hover-2x, $name-characters-2x, $name-creatures-hover-2x, $name-creatures-2x, $name-location-hover-2x, $name-location-2x, $name-stories-hover-2x, $name-stories-2x, $name-wip-hover-2x, $name-wip-2x, $no-sound-2x, $pause-2x, $play-2x, $prof1-2x, $sound-2x, );
$retina-spritesheet: (1906px, 1512px, '../img/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$menu-characters-hover-group-name: 'menu-characters-hover';
$menu-characters-hover-group: ('menu-characters-hover', $menu-characters-hover, $menu-characters-hover-2x, );
$menu-characters-group-name: 'menu-characters';
$menu-characters-group: ('menu-characters', $menu-characters, $menu-characters-2x, );
$menu-creatures-hover-group-name: 'menu-creatures-hover';
$menu-creatures-hover-group: ('menu-creatures-hover', $menu-creatures-hover, $menu-creatures-hover-2x, );
$menu-creatures-group-name: 'menu-creatures';
$menu-creatures-group: ('menu-creatures', $menu-creatures, $menu-creatures-2x, );
$menu-location-hover-group-name: 'menu-location-hover';
$menu-location-hover-group: ('menu-location-hover', $menu-location-hover, $menu-location-hover-2x, );
$menu-location-group-name: 'menu-location';
$menu-location-group: ('menu-location', $menu-location, $menu-location-2x, );
$menu-stories-hover-group-name: 'menu-stories-hover';
$menu-stories-hover-group: ('menu-stories-hover', $menu-stories-hover, $menu-stories-hover-2x, );
$menu-stories-group-name: 'menu-stories';
$menu-stories-group: ('menu-stories', $menu-stories, $menu-stories-2x, );
$menu-wip-hover-group-name: 'menu-wip-hover';
$menu-wip-hover-group: ('menu-wip-hover', $menu-wip-hover, $menu-wip-hover-2x, );
$menu-wip-group-name: 'menu-wip';
$menu-wip-group: ('menu-wip', $menu-wip, $menu-wip-2x, );
$name-characters-hover-group-name: 'name-characters-hover';
$name-characters-hover-group: ('name-characters-hover', $name-characters-hover, $name-characters-hover-2x, );
$name-characters-group-name: 'name-characters';
$name-characters-group: ('name-characters', $name-characters, $name-characters-2x, );
$name-creatures-hover-group-name: 'name-creatures-hover';
$name-creatures-hover-group: ('name-creatures-hover', $name-creatures-hover, $name-creatures-hover-2x, );
$name-creatures-group-name: 'name-creatures';
$name-creatures-group: ('name-creatures', $name-creatures, $name-creatures-2x, );
$name-location-hover-group-name: 'name-location-hover';
$name-location-hover-group: ('name-location-hover', $name-location-hover, $name-location-hover-2x, );
$name-location-group-name: 'name-location';
$name-location-group: ('name-location', $name-location, $name-location-2x, );
$name-stories-hover-group-name: 'name-stories-hover';
$name-stories-hover-group: ('name-stories-hover', $name-stories-hover, $name-stories-hover-2x, );
$name-stories-group-name: 'name-stories';
$name-stories-group: ('name-stories', $name-stories, $name-stories-2x, );
$name-wip-hover-group-name: 'name-wip-hover';
$name-wip-hover-group: ('name-wip-hover', $name-wip-hover, $name-wip-hover-2x, );
$name-wip-group-name: 'name-wip';
$name-wip-group: ('name-wip', $name-wip, $name-wip-2x, );
$no-sound-group-name: 'no-sound';
$no-sound-group: ('no-sound', $no-sound, $no-sound-2x, );
$pause-group-name: 'pause';
$pause-group: ('pause', $pause, $pause-2x, );
$play-group-name: 'play';
$play-group: ('play', $play, $play-2x, );
$prof1-group-name: 'prof1';
$prof1-group: ('prof1', $prof1, $prof1-2x, );
$sound-group-name: 'sound';
$sound-group: ('sound', $sound, $sound-2x, );
$retina-groups: ($menu-characters-hover-group, $menu-characters-group, $menu-creatures-hover-group, $menu-creatures-group, $menu-location-hover-group, $menu-location-group, $menu-stories-hover-group, $menu-stories-group, $menu-wip-hover-group, $menu-wip-group, $name-characters-hover-group, $name-characters-group, $name-creatures-hover-group, $name-creatures-group, $name-location-hover-group, $name-location-group, $name-stories-hover-group, $name-stories-group, $name-wip-hover-group, $name-wip-group, $no-sound-group, $pause-group, $play-group, $prof1-group, $sound-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
