@font-face {
  font-family: "BADGRUNGE";
  src: url("../fonts/BADGRUNGE.ttf");
}

@font-face {
  font-family: 'Compact';
  src: url('../fonts/compact/Compact-Bold.eot');
  src: local('Compact Bold'), local('Compact-Bold'),
  url('../fonts/compact/Compact-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/compact/Compact-Bold.woff2') format('woff2'),
  url('../fonts/compact/Compact-Bold.woff') format('woff'),
  url('../fonts/compact/Compact-Bold.ttf') format('truetype'),
  url('../fonts/compact/Compact-Bold.svg#Compact-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Compact';
  src: url('../fonts/compact/Compact.eot');
  src: local('Compact'),
  url('../fonts/compact/Compact.eot?#iefix') format('embedded-opentype'),
  url('../fonts/compact/Compact.woff2') format('woff2'),
  url('../fonts/compact/Compact.woff') format('woff'),
  url('../fonts/compact/Compact.ttf') format('truetype'),
  url('../fonts/compact/Compact.svg#Compact') format('svg');
  font-weight: normal;
  font-style: normal;
}