.gallery {
  margin: 0 auto;
  width: 1325px;

  @media (max-width: $screen-md-max){
    width: 100%;
  }

  @media (max-width: $screen-xs-max){
    padding: 15px;
  }
}

.gallery-item {
  position: relative;
}

.gallery-desc {
  position: absolute;
  left: 90px;
  right: 90px;
  bottom: 90px;
  color: #ffffff;

  &_location {
    left: 60px;
    right: 60px;
    bottom: 60px;
  }

  @media (max-width: $screen-md-max){
    left: 40px;
    right: 40px;
    bottom: 40px;
  }

  @media (max-width: $screen-xs-max){
    left: 20px;
    right: 20px;
    bottom: 20px;
  }

  &__name {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 22px;
    font-family: "Compact", sans-serif;

    @media (max-width: $screen-sm-max){
      font-size: 32px;
      line-height: 36px;
    }

    @media (max-width: $screen-xs-max){
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 10px;
    }
  }

  &__text {
    font-size: 30px;
    line-height: 36px;
    font-family: "Compact", sans-serif;

    @media (max-width: $screen-sm-max){
      font-size: 24px;
      line-height: 26px;
    }

    @media (max-width: $screen-xs-max){
      font-size: 18px;
      line-height: 20px;
    }
  }
}

.gallery-wrap-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.gallery-big {
  position: relative;
  background: url("../img/list-gallery.jpg") no-repeat;
  background-size: cover;
  height: 786px;
  margin: 0 auto;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.42);

  @media (max-width: $screen-md-max){
    height: 570px;
  }

  @media (max-width: $screen-sm-max){
    height: 440px;
  }

  &__wrapper {
    position: absolute;
    top: 17px;
    left: 17px;
    right: 17px;
    bottom: 17px;
    background-color: #1f1b1a;
  }

  .gallery-item {
    height: 752px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: $screen-md-max){
      height: 536px;
    }

    @media (max-width: $screen-sm-max){
      height: 406px;
    }
  }
}

.gallery-thumbs {

  .gallery-item {
    padding: 14px 10px;
  }

}

.gallery-thumb {
  cursor: pointer;
  position: relative;
  background: url("../img/list-thumb.jpg") no-repeat;
  background-size: cover;
  height: 122px;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.42);

  &__img {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    background-color: #1f1b1a;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.gallery-big-wrapper {
  position: relative;
}

.gallery-arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);

  @media (max-width: $screen-xs-max){
    display: none;
  }
}
.gallery-prev {
  left: -112px;
  background: url("../img/prev.png") no-repeat;
  width: 127px;
  height: 58px;
}

.gallery-next {
  right: -97px;
  background: url("../img/next.png") no-repeat;
  width: 109px;
  height: 59px;
}