.gl {
  display: none;
  &.open {
    display: block;
  }

  @media (max-width: $screen-xs-max){
    display: none !important;
  }

  &__desc {
    position: absolute;
    top: 130px;
    right: 15px;
    left: 602px;

    @media (max-width: $screen-md-max){
      top: 50px;
      left: 360px;
    }

    @media (max-width: $screen-sm-max){
      top: 30px;
      left: 255px;
    }

    @media (max-width: $screen-xs-max){
      top: 30px;
      left: 50px;
    }
  }

  &__name {
    font-family: "Compact", sans-serif;
    font-size: 48px;
    line-height: 52px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 6px;

    @media (max-width: $screen-sm-max){
      font-size: 40px;
      line-height: 44px;
    }
  }

  &__prof {
    font-family: "Compact", sans-serif;
    font-size: 24px;
    color: #ffffff;
    line-height: 28px;
    margin-bottom: 1px;

    &-icon {
      position: relative;
      height: 1px;
      background-color: #fff;

      img {
        position: absolute;
        right: 100%;
        top: 50%;
        margin-top: -16.5px;
      }
    }
  }

  &__skill {
    font-family: "Compact", sans-serif;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 84px;

    @media (max-width: $screen-sm-max){
      margin-top: 20px;
    }
  }

  &__skills {
    font-family: "Compact", sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    margin-top: 26px;

    @media (max-width: $screen-sm-max){
      margin-top: 10px;
    }
  }

}

.gl__bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.gl__wrap-gallery {
  position: relative;
  background: url("../img/list-gallery3.jpg") no-repeat;
  background-size: cover;
  width: 1109px;
  height: 659px;
  padding: 15px;

  @media (max-width: $screen-md-max){
    width: 800px;
    height: 475px;
  }

  @media (max-width: $screen-sm-max){
    width: 600px;
    height: 356px;
  }

  @media (max-width: $screen-xs-max){
    width: auto;
  }
}

.gl__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 11;
  margin-left: -(1109px / 2);
  margin-top: -(659px / 2);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.42);

  @media (max-width: $screen-md-max){
    margin-left: -(800px / 2);
    margin-top: -(475px / 2);
  }

  @media (max-width: $screen-sm-max){
    margin-left: -(600px / 2);
    margin-top: -(356px / 2);
  }

  @media (max-width: $screen-xs-max){
    margin: 0;
    left: 50px;
    right: 50px;
  }

  &:after,
  &:before {
    position: absolute;
    z-index: 1;
    content: "";
  }

  &:after {
    bottom: 0;
    right: 0;
    width: 292px;
    height: 122px;
    background: url("../img/b2.png") no-repeat;
  }

  &:before {
    top: 0;
    left: 0;
    width: 246px;
    height: 144px;
    background: url("../img/b1.png") no-repeat;
  }

  .gallery-item {
    height: 629px;
    background-color: #707863;
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;

    @media (max-width: $screen-md-max){
      height: 445px;
    }

    @media (max-width: $screen-sm-max){
      height: 326px;
    }

    @media (max-width: $screen-xs-max){
      background-size: cover;
    }
  }
}

