body {
  overflow-x: hidden;
}

.logo {
  @media (max-width: $screen-xs-max){
    img {
      margin: 0 auto;
    }
  }
}

.youtube-video {
  height: 752px;
  @media (max-width: $screen-md-max){
    height: 536px;
  }

  @media (max-width: $screen-sm-max){
    height: 406px;
  }

  @media (max-width: $screen-xs-max){
    height: 100%;
  }
}