.layout-video-container {
  position: relative;
}

.layout-video-tools {
  position: absolute;
  bottom: 180px;
  left: 5px;
  right: 5px;

  @media (min-width: 2200px){
    bottom: 240px;
  }

  @media (max-width: $screen-md-max){
    bottom: 150px;
  }

  @media (max-width: $screen-sm-max){
    bottom: 15px;
  }
}

.layout-video-play {
  float: left;
  cursor: pointer;
  @include icon-include-bg;
  @include icon-include($play, true);
  &.pause {
    @include icon-include($pause, true);
  }
}

.layout-video-sound {
  float: right;
  cursor: pointer;
  @include icon-include-bg;
  @include icon-include($sound, true);
  &.muted {
    @include icon-include($no-sound, true);
  }
}

.layout {
  position: relative;
  padding-top: 85px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: $screen-sm-max){
    padding: 45px 0;
  }

  &_video {
    background-position: center top;
    background-image: url("../img/1.jpg");
    height: 100vh;
    min-height: 600px;
    padding-top: 67px;

    video {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }

    @media (max-width: $screen-xs-max){
      min-height: 0;
      padding-top: 45px;
    }
  }

  &_menu {
    padding-top: 268px;
    background-image: url("../img/bg-menu2.jpg");
    background-position: center top;
    height: 1175px;

    @media (min-width: 2200px){
      height: 1562px;
    }

    @media (max-width: $screen-md-max){
      height: 960px;
    }

    @media (max-width: $screen-sm-max){
      height: auto;
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  &_menu-top {
    background-image: url("../img/bg-menu1.png");
    background-position: center bottom;
    height: 173px;
    margin-top: -180px;
    padding: 0;

    @media (min-width: 2200px){
      height: 230px;
      margin-top: -240px;
    }

    @media (max-width: $screen-md-max){
      height: 141px;
      margin-top: -150px;
    }

    @media (max-width: $screen-sm-max){
      display: none;
    }
  }

  &_characters {
    background-image: url("../img/bg1-full.jpg");
    background-position: center bottom;
    height: 1260px;
    padding-bottom: 0;

    @media (min-width: 2200px){
      height: 1600px;
    }

    @media (max-width: $screen-md-max){
      height: 922px;
    }

    @media (max-width: $screen-sm-max){
      height: auto;
      padding-bottom: 45px;
    }
  }

  &_characters-chain {
    background-image: url("../img/bg2.jpg");
    background-position: center top;
    height: 110px;
    padding: 0;

    @media (min-width: 2200px){
      height: 140px;
    }

    @media (max-width: $screen-md-max){
      height: 83px;
    }

    @media (max-width: $screen-sm-max){
      display: none;
    }
  }

  &_creatures {
    background-image: url("../img/bg2-full.jpg");
    height: 1211px;

    @media (min-width: 2200px){
      height: 1560px;
    }

    @media (max-width: $screen-md-max){
      height: 960px;
    }

    @media (max-width: $screen-sm-max){
      height: auto;
    }
  }

  &_creatures-chain {
    background-image: url("../img/bg3.jpg");
    height: 108px;
    padding: 0;

    @media (min-width: 2200px){
      height: 140px;
    }

    @media (max-width: $screen-md-max){
      height: 82px;
    }

    @media (max-width: $screen-sm-max){
      display: none;
    }
  }

  &_stories {
    background-position: center bottom;
    background-image: url("../img/bg4.jpg");
    height: 1200px;

    @media (min-width: 2200px){
      height: 1545px;
    }

    @media (max-width: $screen-md-max){
      height: 914px;
    }

    @media (max-width: $screen-sm-max){
      height: auto;
      padding-bottom: 90px;
    }
  }

  &_stories-bottom {
    background-position: center top;
    background-image: url("../img/bg5.png");
    height: 244px;
    z-index: 1;
    padding: 0;

    @media (min-width: 2200px){
      height: 314px;
    }

    @media (max-width: $screen-md-max){
      height: 189px;
    }

    @media (max-width: $screen-sm-max){
      height: 137px;
    }
  }

  &_location {
    background-image: url("../img/bg6.jpg");
    height: 1575px;
    margin-top: -244px;
    padding-top: 246px;

    @media (min-width: 2200px){
      margin-top: -314px;
    }


    @media (max-width: $screen-md-max){
      height: 1200px;
      margin-top: -189px;
    }


    @media (max-width: $screen-sm-max){
      margin-top: -137px;
      padding-top: 152px;
      height: auto;
    }
  }

  &_wip {
    background-position: center bottom;
    background-image: url("../img/bg7.jpg");
    height: 1310px;
    padding-top: 66px;

    @media (max-width: $screen-md-max){
      height: 1020px;
    }

    @media (max-width: $screen-sm-max){
      padding-top: 45px;
      height: auto;
      background-position: center bottom;
    }
  }

  &_footer {
    background-position: center top;
    background-image: url("../img/bg8.jpg");
    height: 1330px;
    padding-top: 344px;

    @media (max-width: $screen-md-max){
      height: 1035px;
      padding-top: 220px;
    }

    @media (max-width: $screen-sm-max){
      padding-top: 215px;
      height: 822px;
      background-position: center top;
    }
  }

}

.layout-name {
  margin-bottom: 82px;
  @media (max-width: $screen-sm-max){
    margin-bottom: 45px;
  }

  > i, > span, > a {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
    text-indent: -9999px;

    @include icon-include-bg;
  }

  &_characters {
    > i, > span, > a {
      @include icon-include($name-characters, true);
      &.active,
      &:hover {
        @include icon-include($name-characters-hover, true);
      }
    }
  }

  &_creatures {
    > i, > span, > a {
      @include icon-include($name-creatures, true);
      &.active,
      &:hover {
        @include icon-include($name-creatures-hover, true);
      }
    }
  }

  &_stories {
    > i, > span, > a {
      @include icon-include($name-stories, true);
      &.active,
      &:hover {
        @include icon-include($name-stories-hover, true);
      }
    }
  }

  &_location {
    margin-bottom: 100px;
    @media (max-width: $screen-sm-max){
      margin-bottom: 45px;
    }

    > i, > span, > a {
      @include icon-include($name-location, true);
      &.active,
      &:hover {
        @include icon-include($name-location-hover, true);
      }
    }
  }

  &_wip {
    margin-bottom: 77px;

    > i, > span, > a {
      @include icon-include($name-wip, true);
      &.active,
      &:hover {
        @include icon-include($name-wip-hover, true);
      }
    }
  }

}

.layout-text {
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  font-family: "Compact", sans-serif;
  font-weight: bold;
  letter-spacing: 2.5px;
  line-height: 38px;

  @media (max-width: $screen-sm-max){
    font-size: 28px;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.layout-text-footer {
  color: #000000;
  font-size: 24px;
  font-family: "Compact", sans-serif;
  font-weight: bold;
  letter-spacing: 1.7px;
  line-height: 38px;
}

.layout-body {
  position: relative;
}