.list {
  padding: 0 2.5px;
  @include clearfix;

  &__name {
    position: absolute;
    text-align: center;
    color: #ffffff;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: "Compact", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    padding: 0 15px 28px;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &__item {
    float: left;
    width: 25%;
    padding: 7.5px;
    min-height: 1px;

    @media (max-width: $screen-sm-max){
      width: 50%;
    }

    @media (max-width: $screen-xs-max){
      width: 100%;
      padding: 15px;
      padding-bottom: 0;
    }
  }

  &__wrap {
    position: relative;
    height: 402px;
    padding: 17px;
    background: url("../img/list-bg.jpg") no-repeat center;
    background-size: cover;
    cursor: pointer;
    display: block;
    overflow: hidden;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.42);

    @media (max-width: $screen-md-max){
      height: 278px;
    }

    @media (max-width: $screen-sm-max){
      height: 440px;
    }

    &_bg2 {
      background-image: url("../img/list-bg-2.jpg");
    }

    &.active,
    &:hover {
      .list__name {
        opacity: 1;
      }
      .list__img {
        box-shadow: 0 0 30px 5px #d01a18;
        &:before {
          opacity: 1;
        }
      }
    }
  }

  &__img {
    position: absolute;
    top: 17px;
    left: 17px;
    right: 17px;
    bottom: 17px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: box-shadow 0.2s;

    &:before {
      display: none;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0));
      opacity: 0;
      transition: opacity 0.2s;
      content: "";
    }
  }

  &_bg {
    .list__img {
      &:before {
        display: block;
      }
    }
  }

  &_col2 {
    .list__item {
      width: 50%;

      @media (max-width: $screen-xs-max){
        width: 100%;
      }
    }

    .list__wrap {
      background-image: url("../img/list-bg-3.jpg");
      height: 410px;

      @media (max-width: $screen-md-max){
        height: 294px;
      }

      @media (max-width: $screen-sm-max){
        height: 226px;
      }
    }
  }

}

.list-gallery-fixed {
  display: none;

  &.open {
    display: block;
  }
}

.list-gallery-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.list-gallery {
  position: absolute;
  top: 50%;
  left: 50%;
  background: url("../img/list-gallery2.jpg") no-repeat;
  background-size: cover;
  width: 1032px;
  height: 642px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 11;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.42);

  @media (max-width: $screen-md-max){
    width: 700px;
    height: 446px;
  }

  @media (max-width: $screen-sm-max){
    width: 530px;
    height: 340px;
  }

  @media (max-width: $screen-xs-max){
    width: auto;
    left: 50px;
    right: 50px;
    transform: translateY(-50%);
  }

  &__item {
    display: none;
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &.open {
      display: block;
    }
  }
}