.menu {
  margin-top: 72px;

  nav {
    > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 0;
      text-align: center;
      @include clearfix;

      > li {
        display: inline-block;
        vertical-align: bottom;
        text-align: center;

        a {
          display: inline-block;
        }

        @media (max-width: $screen-md-max){
          margin: 0 -25px;
        }

        @media (max-width: $screen-sm-max){
          float: left;
          width: 50%;
          margin: 0;
        }

        @media (max-width: $screen-xs-max){
          width: 100%;
        }
      }
    }
  }
}

.menu__icon {
  @include icon-include-bg;

  &_characters {
    @include icon-include($menu-characters, true);
    &.active,
    &:hover {
      @include icon-include($menu-characters-hover, true);
    }
  }

  &_creatures {
    @include icon-include($menu-creatures, true);
    &.active,
    &:hover {
      @include icon-include($menu-creatures-hover, true);
    }
  }

  &_stories {
    @include icon-include($menu-stories, true);
    &.active,
    &:hover {
      @include icon-include($menu-stories-hover, true);
    }
  }

  &_locations {
    @include icon-include($menu-location, true);
    &.active,
    &:hover {
      @include icon-include($menu-location-hover, true);
    }
  }

  &_wip {
    @include icon-include($menu-wip, true);
    &.active,
    &:hover {
      @include icon-include($menu-wip-hover, true);
    }
  }

}