.parallax {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 275px;
  box-shadow: inset 0 10px 30px rgba(0,0,0,0.8), inset 0 -10px 30px rgba(0,0,0,0.8);

  &_one {
    background-image: url("../img/parallax1.jpg");
  }

  &_two {
    background-image: url("../img/parallax2.jpg");
  }

  @media (max-width: $screen-sm-max){
    display: none;
  }

}