.social {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 95px;

  &__list {

    > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 0;
      text-align: center;

      > li {
        display: inline-block;
        vertical-align: top;
        margin: 0 28px;
        a {
          display: block;
          cursor: pointer;
        }
      }

    }

  }

}