@@include('./inc/head.html', {
    "title": "Главная"
})

    <div class="window">

        <div class="layout layout_video">


            <video id="main-video" autoplay="autoplay" loop="loop">
                <source src="../video/at2.webm" type="video/webm">
                <source src="../video/at2.mp4" type="video/mp4">
                <source src="../video/at2.ogv" type="video/ogg">
            </video>


            <div class="layout-video-tools">
                <div class="container">
                    <div class="layout-video-play pause" onclick="togglePlay(event, this, 'main-video');"></div>
                    <div class="layout-video-sound" onclick="toggleSound(event, this, 'main-video');"></div>
                </div>
            </div>


            <div class="layout-video-container">
                <div class="container">
                    <div class="logo">
                        <img class="img-responsive" src="../img/logo.png" alt="" />
                    </div>
                </div>
            </div>

        </div>
        <div class="layout layout_menu-top"></div>
        <div class="layout layout_menu">
            <div class="container">
                <div class="layout-body">
                    <div class="layout-text">
                        <img src="../img/text.png" alt="Outback Defender  post-apocalyptic adventure Comming soon to IOS and Android" class="hidden-xs hidden-sm" />
                        <span class="hidden-lg hidden-md">OUTBACK DEFENDER POST-APOCALYPTIC ADVENTURE<br> Comming soon to IOS and Android</span>
                    </div>
                    <div class="menu">
                        <nav>
                            <ul>
                                <li class="wow fadeInUp" data-wow-delay="0.2s">
                                    <a data-options="to: #characters, duration: 500" href="#" title="Characters" class="menu__wrap js-scrollTo">
                                        <div class="menu__icon menu__icon_characters"></div>
                                    </a>
                                </li>
                                <li class="wow fadeInUp" data-wow-delay="0.3s">
                                    <a data-options="to: #creatures, duration: 500" href="#" title="Creatures" class="menu__wrap js-scrollTo">
                                        <div class="menu__icon menu__icon_creatures"></div>
                                    </a>
                                </li>
                                <li class="wow fadeInUp" data-wow-delay="0.4s">
                                    <a data-options="to: #stories, duration: 500" href="#" title="Stories" class="menu__wrap js-scrollTo">
                                        <div class="menu__icon menu__icon_stories"></div>
                                    </a>
                                </li>
                                <li class="wow fadeInUp" data-wow-delay="0.5s">
                                    <a data-options="to: #locations, duration: 500" href="#" title="Locations" class="menu__wrap js-scrollTo">
                                        <div class="menu__icon menu__icon_locations"></div>
                                    </a>
                                </li>
                                <li class="wow fadeInUp" data-wow-delay="0.6s">
                                    <a data-options="to: #wip, duration: 500" href="#" title="WIP" class="menu__wrap js-scrollTo">
                                        <div class="menu__icon menu__icon_wip"></div>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax parallax_one"></div>
        <div class="layout layout_characters" id="characters">
            <div class="container">
                <div class="row">
                    <div class="layout-name layout-name_characters"><a class="js-scrollTo" data-options="to: #characters, duration: 500" title="Characters">Characters</a></div>
                    <div class="layout-body">
                        <div class="list list_bg">
                            <div class="list__item wow fadeInUp" data-wow-delay="0.1s">
                                <a href="#" class="list__wrap list__wrap_bg2 js-item" data-index="0" data-gallery="#gl1">
                                    <div class="list__img" style="background-image: url('../img/characters_1.jpg')">
                                        <div class="list__name">Mads</div>
                                    </div>
                                </a>
                            </div>
                            <div class="list__item wow fadeInUp" data-wow-delay="0.2s">
                                <a href="#" class="list__wrap js-item" data-index="1" data-gallery="#gl1">
                                    <div class="list__img" style="background-image: url('../img/characters_2.jpg')">
                                        <div class="list__name">Mads</div>
                                    </div>
                                </a>
                            </div>
                            <div class="list__item wow fadeInUp" data-wow-delay="0.3s">
                                <a href="#" class="list__wrap list__wrap_bg2 js-item" data-index="2" data-gallery="#gl1">
                                    <div class="list__img" style="background-image: url('../img/characters_3.jpg')">
                                        <div class="list__name">Mads</div>
                                    </div>
                                </a>
                            </div>
                            <div class="list__item wow fadeInUp" data-wow-delay="0.4s">
                                <a href="#" class="list__wrap js-item" data-index="3" data-gallery="#gl1">
                                    <div class="list__img" style="background-image: url('../img/characters_4.jpg')">
                                        <div class="list__name">Mads</div>
                                    </div>
                                </a>
                            </div>
                            <div class="list__item wow fadeInUp" data-wow-delay="0.1s">
                                <a href="#" class="list__wrap list__wrap_bg2 js-item" data-index="4" data-gallery="#gl1">
                                    <div class="list__img" style="background-image: url('../img/characters_5.jpg')">
                                        <div class="list__name">Mads</div>
                                    </div>
                                </a>
                            </div>
                            <div class="list__item wow fadeInUp" data-wow-delay="0.2s">
                                <a href="#" class="list__wrap js-item" data-index="5" data-gallery="#gl1">
                                    <div class="list__img" style="background-image: url('../img/characters_6.jpg')">
                                        <div class="list__name">Mads</div>
                                    </div>
                                </a>
                            </div>
                            <div class="list__item wow fadeInUp" data-wow-delay="0.3s">
                                <a href="#" class="list__wrap list__wrap_bg2 js-item" data-index="6" data-gallery="#gl1">
                                    <div class="list__img" style="background-image: url('../img/characters_5.jpg')">
                                        <div class="list__name">Mads</div>
                                    </div>
                                </a>
                            </div>
                            <div class="list__item wow fadeInUp" data-wow-delay="0.4s">
                                <a href="#" class="list__wrap js-item" data-index="7" data-gallery="#gl1">
                                    <div class="list__img" style="background-image: url('../img/characters_7.jpg')">
                                        <div class="list__name">Mads</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div id="gl1" class="gl">
                            <div class="gl__bg"></div>
                            <div class="gl__wrap">
                                <div id="gallery-big-prev-1" class="gallery-arrow gallery-prev hide"></div>
                                <div id="gallery-big-next-1" class="gallery-arrow gallery-next hide"></div>
                                <div class="gl__wrap-gallery">
                                    <div class="js-gallery-init js-gallery-init-gl" data-prev="#gallery-big-prev-1" data-next="#gallery-big-next-1">
                                        <div class="gallery-item" style="background-image: url('../img/slide9-max.jpg');">
                                            <div class="gl__desc">
                                                <div class="gl__name">BARRY</div>
                                                <div class="gl__prof">Mechanic</div>
                                                <div class="gl__prof-icon">
                                                    <img src="../img/prof1.png" alt="" />
                                                </div>
                                                <div class="gl__skill">Combat skills:</div>
                                                <div class="gl__skills">Take Cover: Damage reduction in<br> covers is increased</div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide9-max.jpg');">
                                            <div class="gl__desc">
                                                <div class="gl__name">BARRY 2</div>
                                                <div class="gl__prof">Mechanic</div>
                                                <div class="gl__prof-icon">
                                                    <img src="../img/prof1.png" alt="" />
                                                </div>
                                                <div class="gl__skill">Combat skills:</div>
                                                <div class="gl__skills">Take Cover: Damage reduction in<br> covers is increased</div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide9-max.jpg');">
                                            <div class="gl__desc">
                                                <div class="gl__name">BARRY 3</div>
                                                <div class="gl__prof">Mechanic</div>
                                                <div class="gl__prof-icon">
                                                    <img src="../img/prof1.png" alt="" />
                                                </div>
                                                <div class="gl__skill">Combat skills:</div>
                                                <div class="gl__skills">Take Cover: Damage reduction in<br> covers is increased</div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide9-max.jpg');">
                                            <div class="gl__desc">
                                                <div class="gl__name">BARRY 4</div>
                                                <div class="gl__prof">Mechanic</div>
                                                <div class="gl__prof-icon">
                                                    <img src="../img/prof1.png" alt="" />
                                                </div>
                                                <div class="gl__skill">Combat skills:</div>
                                                <div class="gl__skills">Take Cover: Damage reduction in<br> covers is increased</div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide9-max.jpg');">
                                            <div class="gl__desc">
                                                <div class="gl__name">BARRY 5</div>
                                                <div class="gl__prof">Mechanic</div>
                                                <div class="gl__prof-icon">
                                                    <img src="../img/prof1.png" alt="" />
                                                </div>
                                                <div class="gl__skill">Combat skills:</div>
                                                <div class="gl__skills">Take Cover: Damage reduction in<br> covers is increased</div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide9-max.jpg');">
                                            <div class="gl__desc">
                                                <div class="gl__name">BARRY 6</div>
                                                <div class="gl__prof">Mechanic</div>
                                                <div class="gl__prof-icon">
                                                    <img src="../img/prof1.png" alt="" />
                                                </div>
                                                <div class="gl__skill">Combat skills:</div>
                                                <div class="gl__skills">Take Cover: Damage reduction in<br> covers is increased</div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide9-max.jpg');">
                                            <div class="gl__desc">
                                                <div class="gl__name">BARRY 7</div>
                                                <div class="gl__prof">Mechanic</div>
                                                <div class="gl__prof-icon">
                                                    <img src="../img/prof1.png" alt="" />
                                                </div>
                                                <div class="gl__skill">Combat skills:</div>
                                                <div class="gl__skills">Take Cover: Damage reduction in<br> covers is increased</div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide9-max.jpg');">
                                            <div class="gl__desc">
                                                <div class="gl__name">BARRY 8</div>
                                                <div class="gl__prof">Mechanic</div>
                                                <div class="gl__prof-icon">
                                                    <img src="../img/prof1.png" alt="" />
                                                </div>
                                                <div class="gl__skill">Combat skills:</div>
                                                <div class="gl__skills">Take Cover: Damage reduction in<br> covers is increased</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout layout_characters-chain"></div>

        <div class="layout layout_creatures" id="creatures">
            <div class="container">
                <div class="row">
                    <div class="layout-name layout-name_creatures"><a class="js-scrollTo" data-options="to: #creatures, duration: 500" title="Creatures">Creatures</a></div>
                    <div class="layout-body">
                        <div class="list list_bg">
                            <div class="list__item wow fadeInUp" data-wow-delay="0.1s">
                                <a href="#" class="list__wrap list__wrap_bg2 js-item" data-index="0" data-gallery="#gl2">
                                    <div class="list__img" style="background-image: url('../img/creatures_1.jpg')">
                                        <div class="list__name">Mads</div>
                                    </div>
                                </a>
                            </div>
                            <div class="list__item wow fadeInUp" data-wow-delay="0.2s">
                                <a href="#" class="list__wrap js-item" data-index="1" data-gallery="#gl2">
                                    <div class="list__img" style="background-image: url('../img/creatures_2.jpg')">
                                        <div class="list__name">Mads</div>
                                    </div>
                                </a>
                            </div>
                            <div class="list__item wow fadeInUp" data-wow-delay="0.3s">
                                <a href="#" class="list__wrap list__wrap_bg2 js-item" data-index="2" data-gallery="#gl2">
                                    <div class="list__img" style="background-image: url('../img/creatures_3.jpg')">
                                        <div class="list__name">Mads</div>
                                    </div>
                                </a>
                            </div>
                            <div class="list__item wow fadeInUp" data-wow-delay="0.4s">
                                <a href="#" class="list__wrap js-item" data-index="3" data-gallery="#gl2">
                                    <div class="list__img" style="background-image: url('../img/creatures_4.jpg')">
                                        <div class="list__name">Mads</div>
                                    </div>
                                </a>
                            </div>
                            <div class="list__item wow fadeInUp" data-wow-delay="0.1s">
                                <a href="#" class="list__wrap list__wrap_bg2 js-item" data-index="4" data-gallery="#gl2">
                                    <div class="list__img" style="background-image: url('../img/creatures_5.jpg')">
                                        <div class="list__name">Mads</div>
                                    </div>
                                </a>
                            </div>
                            <div class="list__item wow fadeInUp" data-wow-delay="0.2s">
                                <a href="#" class="list__wrap js-item" data-index="5" data-gallery="#gl2">
                                    <div class="list__img" style="background-image: url('../img/creatures_6.jpg')">
                                        <div class="list__name">Mads</div>
                                    </div>
                                </a>
                            </div>
                            <div class="list__item wow fadeInUp" data-wow-delay="0.3s">
                                <a href="#" class="list__wrap list__wrap_bg2 js-item" data-index="6" data-gallery="#gl2">
                                    <div class="list__img" style="background-image: url('../img/creatures_8.jpg')">
                                        <div class="list__name">Mads</div>
                                    </div>
                                </a>
                            </div>
                            <div class="list__item wow fadeInUp" data-wow-delay="0.4s">
                                <a href="#" class="list__wrap js-item" data-index="7" data-gallery="#gl2">
                                    <div class="list__img" style="background-image: url('../img/creatures_7.jpg')">
                                        <div class="list__name">Mads</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div id="gl2" class="gl">
                            <div class="gl__bg"></div>
                            <div class="gl__wrap">
                                <div id="gallery-big-prev-2" class="gallery-arrow gallery-prev hide"></div>
                                <div id="gallery-big-next-2" class="gallery-arrow gallery-next hide"></div>
                                <div class="gl__wrap-gallery">
                                    <div class="js-gallery-init js-gallery-init-gl" data-prev="#gallery-big-prev-2" data-next="#gallery-big-next-2">
                                        <div class="gallery-item" style="background-image: url('../img/slide9-max.jpg');">
                                            <div class="gl__desc">
                                                <div class="gl__name">MADS</div>
                                                <div class="gl__prof">Mechanic</div>
                                                <div class="gl__prof-icon">
                                                    <img src="../img/prof1.png" alt="" />
                                                </div>
                                                <div class="gl__skill">Combat skills:</div>
                                                <div class="gl__skills">Take Cover: Damage reduction in<br> covers is increased</div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide9-max.jpg');">
                                            <div class="gl__desc">
                                                <div class="gl__name">MADS 2</div>
                                                <div class="gl__prof">Mechanic</div>
                                                <div class="gl__prof-icon">
                                                    <img src="../img/prof1.png" alt="" />
                                                </div>
                                                <div class="gl__skill">Combat skills:</div>
                                                <div class="gl__skills">Take Cover: Damage reduction in<br> covers is increased</div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide9-max.jpg');">
                                            <div class="gl__desc">
                                                <div class="gl__name">MADS 3</div>
                                                <div class="gl__prof">Mechanic</div>
                                                <div class="gl__prof-icon">
                                                    <img src="../img/prof1.png" alt="" />
                                                </div>
                                                <div class="gl__skill">Combat skills:</div>
                                                <div class="gl__skills">Take Cover: Damage reduction in<br> covers is increased</div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide9-max.jpg');">
                                            <div class="gl__desc">
                                                <div class="gl__name">MADS 4</div>
                                                <div class="gl__prof">Mechanic</div>
                                                <div class="gl__prof-icon">
                                                    <img src="../img/prof1.png" alt="" />
                                                </div>
                                                <div class="gl__skill">Combat skills:</div>
                                                <div class="gl__skills">Take Cover: Damage reduction in<br> covers is increased</div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide9-max.jpg');">
                                            <div class="gl__desc">
                                                <div class="gl__name">MADS 5</div>
                                                <div class="gl__prof">Mechanic</div>
                                                <div class="gl__prof-icon">
                                                    <img src="../img/prof1.png" alt="" />
                                                </div>
                                                <div class="gl__skill">Combat skills:</div>
                                                <div class="gl__skills">Take Cover: Damage reduction in<br> covers is increased</div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide9-max.jpg');">
                                            <div class="gl__desc">
                                                <div class="gl__name">MADS 6</div>
                                                <div class="gl__prof">Mechanic</div>
                                                <div class="gl__prof-icon">
                                                    <img src="../img/prof1.png" alt="" />
                                                </div>
                                                <div class="gl__skill">Combat skills:</div>
                                                <div class="gl__skills">Take Cover: Damage reduction in<br> covers is increased</div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide9-max.jpg');">
                                            <div class="gl__desc">
                                                <div class="gl__name">MADS 7</div>
                                                <div class="gl__prof">Mechanic</div>
                                                <div class="gl__prof-icon">
                                                    <img src="../img/prof1.png" alt="" />
                                                </div>
                                                <div class="gl__skill">Combat skills:</div>
                                                <div class="gl__skills">Take Cover: Damage reduction in<br> covers is increased</div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide9-max.jpg');">
                                            <div class="gl__desc">
                                                <div class="gl__name">MADS 8</div>
                                                <div class="gl__prof">Mechanic</div>
                                                <div class="gl__prof-icon">
                                                    <img src="../img/prof1.png" alt="" />
                                                </div>
                                                <div class="gl__skill">Combat skills:</div>
                                                <div class="gl__skills">Take Cover: Damage reduction in<br> covers is increased</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout layout_creatures-chain"></div>
        
        <div class="layout layout_stories" id="stories">
            <div class="container">
                <div class="row">
                    <div class="layout-name layout-name_stories"><a class="js-scrollTo" data-options="to: #stories, duration: 500" title="Stories">Stories</a></div>
                    <div class="layout-body">
                        <div class="gallery">
                            <div class="gallery-big-wrapper">
                                <div id="gallery-big-prev-stories" class="gallery-arrow gallery-prev hide"></div>
                                <div id="gallery-big-next-stories" class="gallery-arrow gallery-next hide"></div>
                                <div class="gallery-big">
                                    <div class="gallery-big__wrapper">
                                        <div data-prev="#gallery-big-prev-stories" data-next="#gallery-big-next-stories" class="js-gallery-init js-gallery-init-big" data-slick='{"asNavFor": ".js-gallery-init-thumbs"}'>
                                            <div class="gallery-item">
                                                <iframe class="youtube-video" width="100%" src="https://www.youtube.com/embed/I9eTASMnd-E?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                            </div>
                                            <div class="gallery-item">
                                                <iframe class="youtube-video" width="100%" src="https://www.youtube.com/embed/Y1lHhmLZfjg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout layout_stories-bottom"></div>

        <div class="layout layout_location" id="locations">
            <div class="container">
                <div class="row">
                    <div class="layout-name layout-name_location"><a class="js-scrollTo" data-options="to: #locations, duration: 500" title="Locations">Locations</a></div>
                    <div class="layout-body">

                        <div class="list list_col2">
                            <div class="list__item">
                                <a href="#" class="list__wrap js-location" data-id="#location-1">
                                    <div class="list__img" style="background-image: url('../img/location_1.jpg')"></div>
                                </a>
                            </div>
                            <div class="list__item">
                                <a href="#" class="list__wrap js-location" data-id="#location-2">
                                    <div class="list__img" style="background-image: url('../img/location_2.jpg')"></div>
                                </a>
                            </div>
                            <div class="list__item">
                                <a href="#" class="list__wrap js-location" data-id="#location-3">
                                    <div class="list__img" style="background-image: url('../img/location_3.jpg')"></div>
                                </a>
                            </div>
                            <div class="list__item">
                                <a href="#" class="list__wrap js-location" data-id="#location-4">
                                    <div class="list__img" style="background-image: url('../img/location_4.jpg')"></div>
                                </a>
                            </div>
                        </div>



                        <div class="list-gallery-fixed">
                            <div class="list-gallery-bg"></div>
                            <div class="list-gallery">
                                <div id="location-1" class="list-gallery__item" style="background-image: url('../img/slide8.jpg');">
                                    <div class="gallery-wrap-bg"></div>
                                    <div class="gallery-desc gallery-desc_location">
                                        <div class="gallery-desc__name">LOCATION DESCRIPTION 2:</div>
                                        <div class="gallery-desc__text">Lorem ipsum dolor sit amet, consectetur adipisicing<br> elit, sed do eiusmod tempor  ncididunt ut labore et<br> dolore magna aliqua. Ut enim ad minim veniam, quis<br> nostrud exercitation ullamco laboris nisi ut aliquip <br>ex ea commodo consequat. </div>
                                    </div>
                                </div>
                                <div id="location-2" class="list-gallery__item" style="background-image: url('../img/location_2.jpg');">
                                    <div class="gallery-wrap-bg"></div>
                                    <div class="gallery-desc gallery-desc_location">
                                        <div class="gallery-desc__name">LOCATION DESCRIPTION 2:</div>
                                        <div class="gallery-desc__text">Lorem ipsum dolor sit amet, consectetur adipisicing<br> elit, sed do eiusmod tempor  ncididunt ut labore et<br> dolore magna aliqua. Ut enim ad minim veniam, quis<br> nostrud exercitation ullamco laboris nisi ut aliquip <br>ex ea commodo consequat. </div>
                                    </div>
                                </div>
                                <div id="location-3" class="list-gallery__item" style="background-image: url('../img/location_3.jpg');">
                                    <div class="gallery-wrap-bg"></div>
                                    <div class="gallery-desc gallery-desc_location">
                                        <div class="gallery-desc__name">LOCATION DESCRIPTION 2:</div>
                                        <div class="gallery-desc__text">Lorem ipsum dolor sit amet, consectetur adipisicing<br> elit, sed do eiusmod tempor  ncididunt ut labore et<br> dolore magna aliqua. Ut enim ad minim veniam, quis<br> nostrud exercitation ullamco laboris nisi ut aliquip <br>ex ea commodo consequat. </div>
                                    </div>
                                </div>
                                <div id="location-4" class="list-gallery__item" style="background-image: url('../img/location_4.jpg');">
                                    <div class="gallery-wrap-bg"></div>
                                    <div class="gallery-desc gallery-desc_location">
                                        <div class="gallery-desc__name">LOCATION DESCRIPTION 2:</div>
                                        <div class="gallery-desc__text">Lorem ipsum dolor sit amet, consectetur adipisicing<br> elit, sed do eiusmod tempor  ncididunt ut labore et<br> dolore magna aliqua. Ut enim ad minim veniam, quis<br> nostrud exercitation ullamco laboris nisi ut aliquip <br>ex ea commodo consequat. </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="parallax parallax_two"></div>
        
        <div class="layout layout_wip" id="wip">
            <div class="container">
                <div class="layout-name layout-name_wip"><a class="js-scrollTo" data-options="to: #wip, duration: 500" title="WIP">WIP</a></div>
                <div class="layout-body">
                    <div class="gallery">
                        <div class="gallery-big-wrapper">
                            <div id="gallery-big-prev" class="gallery-arrow gallery-prev hide"></div>
                            <div id="gallery-big-next" class="gallery-arrow gallery-next hide"></div>
                            <div class="gallery-big">
                                <div class="gallery-big__wrapper">
                                    <div data-prev="#gallery-big-prev" data-next="#gallery-big-next" class="js-gallery-init js-gallery-init-big" data-slick='{"asNavFor": ".js-gallery-init-thumbs"}'>
                                        <div class="gallery-item" style="background-image: url('../img/slide1.jpg');">
                                            <div class="gallery-wrap-bg"></div>
                                            <div class="gallery-desc">
                                                <div class="gallery-desc__name">LOCATION DESCRIPTION:</div>
                                                <div class="gallery-desc__text">Lorem ipsum dolor sit amet, consectetur adipisicing<br> elit, sed do eiusmod tempor  ncididunt ut labore et<br> dolore magna aliqua. Ut enim ad minim veniam, quis<br> nostrud exercitation ullamco laboris nisi ut aliquip <br>ex ea commodo consequat. </div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide1.jpg');">
                                            <div class="gallery-wrap-bg"></div>
                                            <div class="gallery-desc">
                                                <div class="gallery-desc__name">LOCATION DESCRIPTION 2:</div>
                                                <div class="gallery-desc__text">Lorem ipsum dolor sit amet, consectetur adipisicing<br> elit, sed do eiusmod tempor  ncididunt ut labore et<br> dolore magna aliqua. Ut enim ad minim veniam, quis<br> nostrud exercitation ullamco laboris nisi ut aliquip <br>ex ea commodo consequat. </div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide1.jpg');">
                                            <div class="gallery-wrap-bg"></div>
                                            <div class="gallery-desc">
                                                <div class="gallery-desc__name">LOCATION DESCRIPTION 3:</div>
                                                <div class="gallery-desc__text">Lorem ipsum dolor sit amet, consectetur adipisicing<br> elit, sed do eiusmod tempor  ncididunt ut labore et<br> dolore magna aliqua. Ut enim ad minim veniam, quis<br> nostrud exercitation ullamco laboris nisi ut aliquip <br>ex ea commodo consequat. </div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide1.jpg');">
                                            <div class="gallery-wrap-bg"></div>
                                            <div class="gallery-desc">
                                                <div class="gallery-desc__name">LOCATION DESCRIPTION 4:</div>
                                                <div class="gallery-desc__text">Lorem ipsum dolor sit amet, consectetur adipisicing<br> elit, sed do eiusmod tempor  ncididunt ut labore et<br> dolore magna aliqua. Ut enim ad minim veniam, quis<br> nostrud exercitation ullamco laboris nisi ut aliquip <br>ex ea commodo consequat. </div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide1.jpg');">
                                            <div class="gallery-wrap-bg"></div>
                                            <div class="gallery-desc">
                                                <div class="gallery-desc__name">LOCATION DESCRIPTION 5:</div>
                                                <div class="gallery-desc__text">Lorem ipsum dolor sit amet, consectetur adipisicing<br> elit, sed do eiusmod tempor  ncididunt ut labore et<br> dolore magna aliqua. Ut enim ad minim veniam, quis<br> nostrud exercitation ullamco laboris nisi ut aliquip <br>ex ea commodo consequat. </div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide1.jpg');">
                                            <div class="gallery-wrap-bg"></div>
                                            <div class="gallery-desc">
                                                <div class="gallery-desc__name">LOCATION DESCRIPTION 6:</div>
                                                <div class="gallery-desc__text">Lorem ipsum dolor sit amet, consectetur adipisicing<br> elit, sed do eiusmod tempor  ncididunt ut labore et<br> dolore magna aliqua. Ut enim ad minim veniam, quis<br> nostrud exercitation ullamco laboris nisi ut aliquip <br>ex ea commodo consequat. </div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide1.jpg');">
                                            <div class="gallery-wrap-bg"></div>
                                            <div class="gallery-desc">
                                                <div class="gallery-desc__name">LOCATION DESCRIPTION 7:</div>
                                                <div class="gallery-desc__text">Lorem ipsum dolor sit amet, consectetur adipisicing<br> elit, sed do eiusmod tempor  ncididunt ut labore et<br> dolore magna aliqua. Ut enim ad minim veniam, quis<br> nostrud exercitation ullamco laboris nisi ut aliquip <br>ex ea commodo consequat. </div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide1.jpg');">
                                            <div class="gallery-wrap-bg"></div>
                                            <div class="gallery-desc">
                                                <div class="gallery-desc__name">LOCATION DESCRIPTION 8:</div>
                                                <div class="gallery-desc__text">Lorem ipsum dolor sit amet, consectetur adipisicing<br> elit, sed do eiusmod tempor  ncididunt ut labore et<br> dolore magna aliqua. Ut enim ad minim veniam, quis<br> nostrud exercitation ullamco laboris nisi ut aliquip <br>ex ea commodo consequat. </div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" style="background-image: url('../img/slide1.jpg');">
                                            <div class="gallery-wrap-bg"></div>
                                            <div class="gallery-desc">
                                                <div class="gallery-desc__name">LOCATION DESCRIPTION 9:</div>
                                                <div class="gallery-desc__text">Lorem ipsum dolor sit amet, consectetur adipisicing<br> elit, sed do eiusmod tempor  ncididunt ut labore et<br> dolore magna aliqua. Ut enim ad minim veniam, quis<br> nostrud exercitation ullamco laboris nisi ut aliquip <br>ex ea commodo consequat. </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-thumbs">
                            <div class="row">
                                <div class="js-gallery-init js-gallery-init-thumbs" data-slick='{"asNavFor": ".js-gallery-init-big", "focusOnSelect": true}'>
                                    <div class="gallery-item">
                                        <div class="gallery-thumb">
                                            <div class="gallery-thumb__img" style="background-image: url('../img/slide2.jpg');"></div>
                                        </div>
                                    </div>
                                    <div class="gallery-item">
                                        <div class="gallery-thumb">
                                            <div class="gallery-thumb__img" style="background-image: url('../img/slide3.jpg');"></div>
                                        </div>
                                    </div>
                                    <div class="gallery-item">
                                        <div class="gallery-thumb">
                                            <div class="gallery-thumb__img" style="background-image: url('../img/slide4.jpg');"></div>
                                        </div>
                                    </div>
                                    <div class="gallery-item">
                                        <div class="gallery-thumb">
                                            <div class="gallery-thumb__img" style="background-image: url('../img/slide5.jpg');"></div>
                                        </div>
                                    </div>
                                    <div class="gallery-item">
                                        <div class="gallery-thumb">
                                            <div class="gallery-thumb__img" style="background-image: url('../img/slide6.jpg');"></div>
                                        </div>
                                    </div>
                                    <div class="gallery-item">
                                        <div class="gallery-thumb">
                                            <div class="gallery-thumb__img" style="background-image: url('../img/slide7.jpg');"></div>
                                        </div>
                                    </div>
                                    <div class="gallery-item">
                                        <div class="gallery-thumb">
                                            <div class="gallery-thumb__img" style="background-image: url('../img/slide6.jpg');"></div>
                                        </div>
                                    </div>
                                    <div class="gallery-item">
                                        <div class="gallery-thumb">
                                            <div class="gallery-thumb__img" style="background-image: url('../img/slide7.jpg');"></div>
                                        </div>
                                    </div>
                                    <div class="gallery-item">
                                        <div class="gallery-thumb">
                                            <div class="gallery-thumb__img" style="background-image: url('../img/slide7.jpg');"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layout layout_footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-push-5 col-lg-7 col-md-push-4 col-md-8 col-sm-push-4 col-sm-8">
                        <div class="layout-text-footer">OUTBACK DEFENDER POST-APOCALYPTIC ADVENTURE<br> Comming soon to IOS and Android</div>
                    </div>
                </div>
            </div>
            <div class="social">
                <div class="container">
                    <div class="social__list">
                        <ul>
                            <li><a href="#"><img class="img-responsive" src="../img/facebook.png" alt="" /></a></li>
                            <li><a href="#"><img class="img-responsive" src="../img/vkontakte.png" alt="" /></a></li>
                            <li><a href="#"><img class="img-responsive" src="../img/inctagram.png" alt="" /></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

@@include('./inc/foot.html')